./.venv/
./.idea/
./__pycache__
./.env
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/test_task_7.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/models.cpython-312.pyc
__pycache__/schema.cpython-312.pyc
__pycache__/conftest.cpython-312-pytest-8.2.1.pyc
__pycache__/server.cpython-312.pyc
__pycache__/test_app.cpython-312-pytest-8.2.1.pyc
./.pytest_cache
